html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input, select {
    max-width: 600px;
}

.dropdown-item:focus {
    background-color: rgb(232, 240, 254);
}

.btn {
    min-width: 80px;
}