@page
@model MyCompany.Pages.Employees.IndexModel
@{
    ViewData["Title"] = "Employees";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<a class="btn btn-primary mt-3" href="/Employees/Add">Add Employee</a>